body {
background-color:black;
font-family:arial;
color:white;
}

h1{
color:grey;
font-family:verdana;
}

.maindiv {
    background-color:white;
    color:black;
    width:300px;
    padding:20px;
    border-radius:25px;
    align:center;
    margin-left: auto;
    margin-right: auto;
}

#principal{
background-color:white;
border:1px solid grey;
border-radius:3px;
}

#years {
background-color:lightgrey;
border:none;
width:45px;
padding: 1px;
border-radius:3px;
}

.yellow      /*highlighting results*/
{
    background-color:yellow;
}

.btn{
    background-color:blue;
    color: white;
    padding: 6px;
    border-radius:6px;
    border: none;
    font-size: 15px;
}
